{% extends './base.html'%}

{% load static %}
{%block content%}
<div class="container-fluid">
<div class="row">
 <div class="col-md-8">
                      {%if resultas %}
                         {%for res in resultas%}
                    
          
                        <div class="card mb-3">
                           {% if res.document_video%}
                               <video width="500" height="340" controls>
                                        <source src="{{res.document_video.url}}" type="video/mp4"> 
                                             Votre navigateur ne permet pas de lire les vidéos HTML5.
                                    </video>

                               
                                {%elif res.image%}

                                   
                                     <img src="{{res.image.url}}" style="width: max-content/3; height: max-content/3; border:10px;border-radius: 10px;" class="card-img-top" alt="Wild Landscape"/>

                                    {%else%}
                                    <img src="https://th.bing.com/th/id/OIP.k_hlfIsDBjt5K521TzPqfwHaDy?pid=ImgDet&rs=1" style="width: max-content/3; height: max-content/3; border:10px;border-radius: 10px;" class="card-img-top" alt="Wild Landscape"/ >
                            
                            {%endif%}
                               
                        

                                      <div class="card-body">
                                        <h5 class="card-title"><img src="https://media.istockphoto.com/vectors/caucasian-bridegroom-wearing-a-black-suit-in-cartoon-style-vector-vector-id1141905006?k=6&m=1141905006&s=170667a&w=0&h=MeiLI744Ge128M1YFJpq3zBxb4WycxbQ-SSFSx6STP4=" width=30px height=30px/> Categorie : {{res.categorie}}</h5>
                                        <p class="card-text">
                                          <p  class="font-monospace">{{res.body.html|safe|truncatechars:280}}</p>
                                         <img src="https://th.bing.com/th/id/OIP.aJl09Fxf0o4Vw-YQKAaHLAHaHF?pid=ImgDet&w=926&h=886&rs=1" width=25px height=25px/> <h6><a href="{%url 'detail-view' res.pk%}"  class="btn btn-primary" >voir plus</a></h6>
                                        </p>
                                        <p class="card-text">
                                          <strong>publier le</strong>{{res.datetime}}
                                        </p>
                                      </div>
                                    </div>          
                             {%endfor%}
                             {%else%}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                      <strong>Oups!</strong> message du serveur : Aucun publication pour cette categorie : {{search_result}} !!!!!!
                                      
                                      </button>
                                    </div>


                            {%endif%}
                    </div>

                           <div class="col-md-4">
                <!--- boite de navigation-->
                          <div class="list-group">
                          <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                            Tableau Bord
                          </button>
                            <ol class="list-group list-group-numbered">
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold"><a href="{%url 'category' 'python' %}" >Programmation en PYTHON 3</a></div>
                                  version 3
                                </div>
                                <span class="badge bg-primary rounded-pill">{{categorie1|length}}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold"><a href="{%url 'category' 'java' %}">Programmation en JAVA</a></div>
                                  tous les versions
                                </div>
                                <span class="badge bg-primary rounded-pill">{{categorie2|length}}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold"><a href="{%url 'category' 'django' %}">Programmation en DJANGO</a></div>
                                  version 3 , 4.0 et 4.1
                                </div>
                                <span class="badge bg-primary rounded-pill">{{categorie3|length}}</span>

                              </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold"><a href="{%url 'category' 'javascript' %}">Programmation en JAVASCRIP ET JQUERY</a></div>
                                  tous les versions
                                </div>
                                <span class="badge bg-primary rounded-pill">{{categorie4|length}}</span>
                              </li>

                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold"><a href="{%url 'category' 'css3' %}">Programmation en CSS3 ET BOOTSTRAP</a></div>
                                  tous les versions
                                </div>
                                <span class="badge bg-primary rounded-pill">{{categorie5|length}}</span>
                              </li>

                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold"><a href="{%url 'category' 'c' %}">Programmation en C </a></div>
                                  tous les versions
                                </div>
                                <span class="badge bg-primary rounded-pill">{{categorie6|length}}</span>
                              </li>

                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold"><a href="{%url 'category' 'html' %}">Programmation en HTML5</a> </div>
                                  version 5
                                </div>
                                <span class="badge bg-primary rounded-pill">{{categorie7|length}}</span>
                              </li>

                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold"><a href="{%url 'category' 'annonces' %}">Annonces</a> </div>
                                  
                                </div>
                                <span class="badge bg-primary rounded-pill">{{categorie8|length}}</span>
                              </li>
                                 
                                  <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold"><a href="{%url 'category' 'autres' %}">Autres</a> </div>
                                
                                </div>
                                <span class="badge bg-primary rounded-pill">{{categorie9|length}}</span>
                              </li>



                            </ol>
                          </div></br></br>


                                <div class="card text-white bg-primary mb-6" style="max-width: 35rem;">
                                <div class="card-header">Total De Publication</div>
                                <div class="card-body">
                                  <h5 class="card-title"></h5>
                                  <p class="card-text"> {{post|length}} Publication Au Total</p>
                                </div>


                         
                                   </div></br>

                                    <!-- fin boite de navigation-->

                                    <!--- calendar-->
                                                             
                                           {%include './calendar.html'%}



                                    <!---fin calendar-->
                                                              
                                    </div>



                        <!-- fin row-->
        </div>
      
      <!--- pagination-->

                   
    

      <!--fin pagination-->

</div>
        <!-- Footer-->

{%endblock content%}